<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhqnh.demo.spring.cloud.alibaba.dao.OrderMapper">
    <insert id="insert" parameterType="com.yhqnh.demo.spring.cloud.alibaba.dao.model.OrderDO">
		insert into order_tbl(user_id, commodity_code, count, money) values (#{userId}, #{commdityCode}, #{count}, #{money});
	</insert>
</mapper>